.post-container {
	position: relative;
	margin-top: 30px;
	max-width: 1150px;
	margin: auto;
	height: 100%;

	.post-layout {
		display: flex;
		gap: 30px;
		margin-top: 20px;
		overflow-x: hidden;

		.post-body {
			flex-grow: 1;
			overflow: hidden;
		}

		.post-sort {
			width: 330px;
			background-color: var(--white-1);
			max-height: 600px;
			border-radius: 16px;
		}
	}
}
