.forgot-password-tabs {
	height: 320px;

	.tabs-auth {
		.tab-group {
			.tab .forgot-password {
				width: 100%;
			}
		}
	}
}

.forgot-password-form {
	.form-input-container {
		margin-bottom: 20px;
	}

	.auth-button {
		color: var(--white-1);
		background-color: var(--primary-1);
		border-color: var(--primary-1);
		display: block;
		width: 100%;
		cursor: pointer;
		font-weight: 700;

		&:disabled {
			cursor: not-allowed;
			pointer-events: none;
			opacity: 0.5;
			background-color: var(--primary-1);
			border-color: var(--primary-1);
		}
	}
}
