@import "https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap";
@import "src/colors/variables.scss";
@import "react-loading-skeleton/dist/skeleton.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

*,
::after,
::before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: "DM Sans", sans-serif;
	height: 100vh;
	width: 100%;
	background-color: var(--white-10);
	position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

.scroll {
	overflow-y: auto;
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--gray-16);
		border-radius: 10px;
	}
}

.clickable-icon-div {
	position: relative;
	height: 40px;
	aspect-ratio: 1/1;

	&:hover {
		cursor: pointer;
		opacity: 0.6;
	}
	&.active {
		padding: 0;
		border-radius: 10%;
		border: 2px solid var(--white-12);
	}

	.clickable-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: var(--gray-12);
	}
}

.empty-page {
	max-width: 1152px;
	background-color: var(--white-1);
	padding: 24px;
	border-radius: 16px;
	margin: auto;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

.alerts {
	padding: 0.5rem 1.25rem;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

.alert-error {
	background-color: var(--red-7);
	border-color: var(--red-8);
	color: var(--red-6);
}

.alert-success {
	color: var(--green-1);
	background-color: var(--green-2);
	border-color: var(--green-3);
}

.message-loading {
	background-color: var(--white-19);
	height: 90vh;
	border: 1px solid var(--white-1);

	.spinner {
		width: 30%;
		transform: none;
	}
}
